<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.fin.core.kjh.customer.serviceImpl.CustomerMapper">

	<select id="getSelectList" resultType="co.fin.core.kjh.customer.vo.CustomerVo">
		SELECT * FROM CUSTOMER
	</select>
	
	<select id="getSelect" parameterType="co.fin.core.kjh.customer.vo.CustomerVo" resultType="co.fin.core.kjh.customer.vo.CustomerVo">
		SELECT 
		customer_id, customer_pw, customer_addr, customer_email, customer_name, customer_company_name, customer_phone, customer_profile FROM CUSTOMER WHERE CUSTOMER_ID = #{customer_id}
	</select>
	
	<insert id="customerInsert" parameterType="co.fin.core.kjh.customer.vo.CustomerVo">
		INSERT INTO CUSTOMER VALUES (#{customer_id},#{customer_pw},#{customer_addr},#{customer_email},#{customer_name},#{customer_company_name},#{customer_phone},#{customer_profile})
	</insert>
	
	<update id="customerUpdate" parameterType="co.fin.core.kjh.customer.vo.CustomerVo">
		UPDATE CUSTOMER
		<set>
			customer_pw = #{customer_pw}, customer_addr = #{customer_addr}, customer_email = #{customer_email}, customer_name = #{customer_name}, customer_company_name = #{customer_company_name}, customer_phone = #{customer_phone}
			<if test="customer_profile != null and customer_profile != ''">
				customer_profile = #{customer_profile}
			</if>
			WHERE customer_id = #{customer_id}
		</set>
	</update>
	
	<delete id="customerDelete" parameterType="co.fin.core.kjh.customer.vo.CustomerVo">
		
	</delete>
	
</mapper>