<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.fin.core.kbk.booth.serviceImpl.BoothMapper">
	
	<select id="bgetSelectBoothList" parameterType="co.fin.core.kbk.booth.vo.BoothVo" resultType="co.fin.core.kbk.booth.vo.BoothVo">
		SELECT booth_no, brochure_path, video_path, video_call_path, booth_introduction, company_no, exhibition_no, company_tel, booth_profile FROM BOOTH
		<where>
		<if test = "company_no != null and company_no != ''">
			AND company_no = #{company_no}
		</if>
		<if test = "booth_no != null and booth_no != ''">
			AND booth_no = #{booth_no}
		</if>
		</where>
	</select>
	
	<select id="getSelectList" parameterType="co.fin.core.kbk.booth.vo.BoothVo" resultType="co.fin.core.kbk.booth.vo.ProductVo">
			SELECT product_no, product_name, product_desc, product_image_path, product_mall FROM PRODUCT
		<where>
		<if test = "booth_no != null and booth_no != ''">
			AND booth_no = #{booth_no}
		</if>
		</where>
	</select>
	
	<insert id="boothInsert" parameterType="co.fin.core.kbk.booth.vo.BoothVo">
		<selectKey resultType="int" keyProperty="booth_no" order="BEFORE">
			SELECT SEQ_BOOTH_NO.nextval FROM dual
		</selectKey>
			INSERT INTO BOOTH(BOOTH_NO, BROCHURE_PATH, VIDEO_PATH, VIDEO_CALL_PATH, BOOTH_INTRODUCTION, COMPANY_NO, EXHIBITION_NO, BOOTH_PROFILE, COMPANY_TEL) VALUES (#{booth_no}, #{brochure_path}, #{video_path}, #{video_call_path}, #{booth_introduction}, #{company_no}, #{exhibition_no}, #{booth_profile}, #{company_tel})
	</insert>
	
	<insert id="productInsert" parameterType="co.fin.core.kbk.booth.vo.ProductVo">
		<selectKey resultType="int" keyProperty="product_no" order="BEFORE">
			SELECT SEQ_PRODUCT_NO.nextval FROM dual
		</selectKey>
		INSERT INTO PRODUCT (PRODUCT_NO, PRODUCT_NAME, PRODUCT_DESC, PRODUCT_IMAGE_PATH, PRODUCT_MALL ,BOOTH_NO ) VALUES (#{product_no}, #{product_name}, #{product_desc}, #{product_image_path}, #{product_mall}, #{booth_no})
	</insert>
	
	<update id="boothUpdate" parameterType="co.fin.core.kbk.booth.vo.BoothVo">
		UPDATE BOOTH
		<set>
			video_path = #{video_path}, video_call_path = #{video_call_path}, booth_introduction = #{booth_introduction}, company_tel = #{company_tel}
			<if test = "brochure_path != null and brochure_path != ''">
				brochure_path = #{brochure_path}
			</if>
			<if test = "booth_profile != null and booth_profile != ''">
				,booth_profile = #{booth_profile}
			</if>
		</set>
		 WHERE booth_no = #{booth_no}
	</update>
	
	<update id="productUpdate" parameterType="co.fin.core.kbk.booth.vo.ProductVo">
		UPDATE PRODUCT 
		<set>
			product_name = #{product_name}, product_desc = #{product_desc}, product_mall = #{product_mall}, booth_no = #{booth_no}
			<if test="product_image_path != null and product_image_path != ''">
				product_image_path = #{product_image_path}
			</if>
		</set>
			WHERE product_no = #{product_no}
	</update>
	
	<delete id="productDelete" parameterType="co.fin.core.kbk.booth.vo.ProductVo">
		
		DELETE FROM PRODUCT WHERE product_no = #{product_no}
	</delete>
	
	<delete id="boothDelete" parameterType="co.fin.core.kbk.booth.vo.BoothVo">
		
	</delete>
	
	
	<select id="getSelectCustomerBoothList" parameterType="co.fin.core.kbk.booth.vo.BoothVo" resultType="co.fin.core.kbk.booth.vo.BoothVo">
		select booth_no,brochure_path,video_path,video_call_path,booth_introduction,b.company_no,b.exhibition_no,booth_profile,company_name from booth b, company c where b.company_no = c.company_no and b.exhibition_no = #{exhibition_no}
	</select>
</mapper>