<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.fin.core.nhu.ticket.serviceImpl.TicketMapper">
	<select id="getSelectTicketList" resultType="co.fin.core.nhu.ticket.vo.TicketVo">
		SELECT t.ticket_no, e.exhibition_name, e.exhibition_start_date, e.exhibition_end_date,
t.ticket_price FROM ticket t, exhibition e WHERE e.exhibition_no = t.exhibition_no AND 
<![CDATA[EXHIBITION_START_DATE <= TO_CHAR(SYSDATE) AND EXHIBITION_END_DATE >= TO_CHAR(SYSDATE)]]>
	</select>
	
	<select id="getSelect" parameterType="co.fin.core.nhu.ticket.vo.TicketVo" resultType="co.fin.core.nhu.ticket.vo.TicketVo">
		
	</select>
	
	<insert id="ticketInsert" parameterType="co.fin.core.nhu.ticket.vo.TicketVo">
		
	</insert>
	
	<update id="ticketUpdate" parameterType="co.fin.core.nhu.ticket.vo.TicketVo">
	
	</update>
	
	<delete id="ticketDelete" parameterType="co.fin.core.nhu.ticket.vo.TicketVo">
		
	</delete>
	
</mapper>