<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="co.fin.core.psg.login.serviceImpl.LoginMapper">
	
	<select id="loginCheck" resultType="int">
		<![CDATA[
			SELECT count(*) FROM customer
			WHERE customer_id = #{customer_id} AND customer_pw = #{customer_pw}
		]]>
	</select>
	
	<select id="loginCheckCom" resultType="int">
		<![CDATA[
			SELECT count(*) FROM company_user
			WHERE company_user_id = #{company_user_id} AND company_user_pw = #{company_user_pw}
		]]>
	</select>
	
	<!-- 추가 -->
	<select id="getCustomerPw" resultType="String">
		<![CDATA[
			SELECT customer_pw FROM customer WHERE customer_id = #{customer_id}
		]]>
	</select>
	
	<!-- 추가 -->
	<select id="getCompanyUserPw" resultType="String">
		<![CDATA[
			SELECT company_user_pw FROM company_user WHERE company_user_id = #{company_user_id}
		]]>
	</select>
	

</mapper>