<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="co.fin.core.kjh.companyuser.serviceImpl.CompanyUserMapper">
	<select id="getSelectList" resultType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		SELECT * FROM COMPANY_USER
	</select>
	
 	<select id="getSelect" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo" resultType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		SELECT * FROM COMPANY_USER WHERE
	<choose>
    <when test="company_user_id != null and company_user_id != ''">
      company_user_id = #{company_user_id}
    </when>
    <otherwise>
      	COMPANY_NO = #{company_no}
    </otherwise>
  </choose>
	</select>
	
<!-- 수정필요 -->
	<select id="companyUserSelect" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo" resultType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		SELECT c.company_no, c.company_name, c.company_phone, c.company_addr, c.company_email, c.ceo_name, c.ceo_phone, u.company_user_id, c.business_license_number, u.company_user_pw, u.company_profile FROM company c, company_user u WHERE c.company_no = u.company_no and u.company_user_id = #{company_user_id}
	</select>
	
	<select id="companySelect" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo" resultType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		SELECT company_no, company_name, company_phone, company_addr, company_email, ceo_name, ceo_phone, BUSINESS_LICENSE_NUMBER FROM company WHERE company_no = #{company_no }
	</select>
	
	
	<insert id="companyInsert" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		<selectKey resultType="int" keyProperty="company_no" order="BEFORE">
        	SELECT SEQ_COMPANY_NO.nextval FROM dual
    	</selectKey>   
		INSERT INTO COMPANY VALUES(#{company_no},#{company_name},#{company_phone},#{company_addr},#{company_email},#{ceo_name},#{ceo_phone},#{business_license_number})
	</insert>
	
	<insert id="companyUserInsert" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		
		INSERT INTO COMPANY_USER (COMPANY_USER_ID,COMPANY_USER_PW,COMPANY_NO,COMPANY_PROFILE) VALUES(#{company_user_id},#{company_user_pw},#{company_no},#{company_profile})
	</insert>
	
	<insert id="companyUserInsert2" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		INSERT INTO COMPANY_USER (COMPANY_USER_ID,COMPANY_USER_PW,COMPANY_NO,COMPANY_PROFILE) VALUES(#{company_user_id2},#{company_user_pw2},#{company_no},#{company_profile})
	</insert>
	
	<insert id="companyUserInsert3" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		INSERT INTO COMPANY_USER (COMPANY_USER_ID,COMPANY_USER_PW,COMPANY_NO,COMPANY_PROFILE) VALUES(#{company_user_id3},#{company_user_pw3},#{company_no},#{company_profile})
	</insert>
	
<!-- 기업 update  -->
	<update id="companyUserUpdate" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		UPDATE COMPANY_USER
		<set>
			company_profile = #{company_profile}	
		</set>
		WHERE company_user_id = #{company_user_id}
	</update>
	
	<update id="companyUserPwUpdate" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		UPDATE company_user
		<set>
			company_user_pw = #{company_user_pw}	
		</set>
		WHERE company_user_id = #{company_user_id}
	</update>

	<update id="companyUpdate" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		UPDATE COMPANY
		<set>
			company_name = #{company_name}, company_phone = #{company_phone}, company_addr = #{company_addr}, company_email = #{company_email}, ceo_name = #{ceo_name}, ceo_phone = #{ceo_phone}
		</set>
		WHERE company_no = #{company_no } 
	</update>
	
	<delete id="companyUserDelete" parameterType="co.fin.core.kjh.companyuser.vo.CompanyUserVo">
		DELETE FROM company_user WHERE company_user_id = #{company_user_id}
	</delete>
	
</mapper>